---
import HelloReact from '../react/HelloReact';
import HelloVue from '../vue/HelloVue.vue';
import HelloSvelte from '../svelte/HelloSvelte.svelte';
---

<div>
	<div class="w-4/5 mx-auto">
		<h1 class="mt-32 text-6xl font-bold text-white">
			Welcome Friends
		</h1>
	</div>
	<div class="w-4/5 mx-auto my-10">
		<h3 class="text-gray-300">
			Lets Build Stuffs in
			<strong class="text-white">React, Svelte, Vue</strong>
			in One Repo
		</h3>
	</div>
	
	<!-- React -->
	<div class="grid grid-cols-4 gap-4 mb-5">
		<div class="col-span-1 p-4 text-white bg-black shadow-lg rounded-2xl md:p-10">
			<a href="/react" class="mt-1 block px-3 py-2 rounded-md text-white font-semibold hover:bg-blue-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out"> React </a>
		</div>
		<div class="col-span-3 p-4 text-white bg-black shadow-lg rounded-2xl md:p-10">
			<HelloReact client:visible/> 
		</div>
	</div>

	<!-- Vue -->
	<div class="grid grid-cols-4 gap-4 mb-5">
		<div class="col-span-1 p-4 text-white bg-black shadow-lg rounded-2xl md:p-10">
			<a href="/vue" class="mt-1 block px-3 py-2 rounded-md text-white font-semibold hover:bg-blue-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out"> Vue </a>
		</div>
		<div class="col-span-3 p-4 text-white bg-black shadow-lg rounded-2xl md:p-10">
			<HelloVue client:visible/>
		</div>
	</div>

	<!-- Svelte -->
	<div class="grid grid-cols-4 gap-4 mb-5">
		<div class="col-span-1 p-4 text-white bg-black shadow-lg rounded-2xl md:p-10">
			<a href="/svelte" class="mt-1 block px-3 py-2 rounded-md text-white font-semibold hover:bg-blue-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out"> Svelte </a>
		</div>
		<div class="col-span-3 p-4 text-white bg-black shadow-lg rounded-2xl md:p-10">
			<HelloSvelte client:load/>
		</div>
	</div>
</div>


