---

---

<div class="min-h-screen overflow-auto bg-gradient-to-br from-blue-900 to-gray-900">
  <div class="container max-w-5xl px-4 mx-auto mb-12">
    <div class="w-4/5 mx-auto">
      <h1 class="mt-32 text-6xl font-bold text-white">
        Welcome to MitZ Test
      </h1>
    </div>
    <div class="w-4/5 mx-auto my-10">
      <h3 class="text-gray-300">
        Test Building Stuffs in
        <strong class="text-white">React, Svelte, Vue</strong>
      </h3>
    </div>
    <div class="grid grid-cols-2 gap-4 mb-5">
      <div class="p-10 leading-10 text-white bg-black shadow-lg rounded-2xl">
        mkdir astro<br />
        npm init astro
      </div>
      <div class="p-10 leading-10 text-white bg-black shadow-lg rounded-2xl">
        mkdir astro<br />
        cd astro<br />
        npm init astro
      </div>
    </div>

    <div class="p-10 leading-10 text-white bg-black shadow-lg rounded-2xl">
      mkdir astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      cd astro<br />        cd astro<br />        cd astro<br />        cd astro<br />
      npm init astro
    </div>




  </div>
</div>