---
import DefaultLayout from '../layouts/Default.astro';
import HelloAstro from '../components/astro/HelloAstro.astro';

---
<DefaultLayout>
	<HelloAstro />
	<!-- <HelloAstro > -->
		<!-- title="Home Page"
	  <p>My page content, wrapped in a layout!</p> -->
	<!-- </HelloAstro> -->
</DefaultLayout>

